.alert-ko {
	position: fixed;
	left: 25%;
	right: 25%;
	top: -120px;
	min-height: 100px;
    z-index:1020;
}

.alert-masked {
    position: fixed;
    left:0px;
    right: 0px;
    bottom:0px;
    top: 0px;
    z-index: 1010;
    background-color:#FFF;
    opacity: 0;
}